body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Permanent Marker', cursive;
}

header{
    background: linear-gradient(302deg, rgba(34,193,195,1) 0%, rgba(39,222,158,1) 38%, rgba(40,227,152,1) 63%, rgba(45,253,118,1) 100%);
    margin-bottom: 20px;
    box-shadow: 0px 10px 10px -7px #000000, -1px 13px 15px 5px rgba(0,0,0,0);
}

h1{
    text-align: center;
    margin: 0;
    color: white;
    font-size: 3.5rem;
    text-shadow: -4px 1px 1px #ff8902;
}
h1 + h2{
    text-align: center;
    margin: 0;
    color: white;
    font-size: 2.5rem;
    text-shadow: -4px 1px 1px #ff8902;
}

.container{
    display: flex;
    flex-direction: column;
}

.movie{
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
}

button{
    margin: auto;
}

.comments {
    font-size: 2rem;
}

.title-comments {
    color: aqua;
    text-align: center;
    font-size: 3.5rem;
}